#body {
  margin: 2rem min(12rem, 90%);
}

#body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

#searchbar {
  border: 1px solid var(--dark-grey);
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  outline: none;
}

a#assetForm {
  text-decoration: none;
  color: black;
  font-weight: 600;
  background-color: var(--yellow);
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;

  transition: filter 0.2s ease-in-out;
}
a#assetForm:hover {
  filter: brightness(0.9);
}
