#body {
  margin: 2rem min(12rem, 90%);
}

#body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

#searchbar {
  border: 1px solid var(--dark-grey);
  padding: 0.4rem 0.7rem;
  border-radius: 0.2rem;
  outline: none;
}
