table#asset-table {
  margin: auto;
  background-color: white;
  padding: 0.8rem;
  border: 1px solid var(--grey);
  padding-bottom: 0;
  border-radius: 0.4rem;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table#asset-table thead tr {
  background-color: #f6f7f7;
}
table#asset-table thead h2 {
  font-size: 1.1rem;
}
table#asset-table th,
table#asset-table td {
  padding: 0.8rem;
  max-width: 14rem;
}

table#asset-table td:has(img) {
  text-align: center;
}

table#asset-table tbody td {
  border-bottom: 1px solid var(--grey);
}
table#asset-table tbody td p {
  text-align: center;
}

table#asset-table tfoot tr td:first-child {
  padding-inline: 2rem;
  box-sizing: border-box;
  align-items: end;
  height: 3rem;
}
table#asset-table tfoot tr td {
  padding: 0;
  vertical-align: middle;
}

table#asset-table .pagination-controls {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

table#asset-table .pagination-controls button{
  padding: 8px;
}