table#asset-table {
  margin: auto;
  background-color: white;
  padding: .8rem;
  border: 1px solid var(--grey);
  padding-bottom: 0;
  border-radius: 0.4rem;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table#asset-table thead tr {
  background-color: #f6f7f7;
}
table#asset-table thead h2 {
  font-size: 1.1rem;
}
table#asset-table th,
table#asset-table td {
  padding: 0.8rem;
  max-width: 14rem;
}

table#asset-table tbody td {
  border-bottom: 1px solid var(--grey);
}
table#asset-table tbody td p {
  text-align: center;
}

table tr.asset img.logo {
  margin-inline: 2rem;
  max-height: 5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 100%;
}
table tr.asset td {
  align-items: center;
  align-content: center;
  align-self: center;
}

table#asset-table tfoot tr {
  padding-inline: 2rem;
  box-sizing: border-box;
  align-items: end;
  height: 3rem;
}
table#asset-table tfoot tr td {
  padding: 0;
  padding-inline-start: 2rem;
  vertical-align: middle;
}
