table#asset-table {
  margin: auto;
  background-color: white;
  padding: 1.2rem;
  border: 1px solid var(--grey);
  border-radius: 0.4rem;
  border-collapse: separate;
  border-spacing: 0;
}

table#asset-table thead tr {
  background-color: #f6f7f7;
}
table#asset-table thead h2 {
  font-size: 1.1rem;
}
table#asset-table th,
table#asset-table td {
  padding: .8rem;
  max-width: 14rem;
}

table#asset-table tr td {
  border-bottom: 1px solid var(--grey);
}

table tr.asset img.logo {
  margin-inline: 2rem;
  max-height: 5rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 100%;
}
table tr.asset td {
  align-items: center;
  align-content: center;
  align-self: center;
}
