:root {
  font-family: Nunito, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #f5f6fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --grey: rgb(235, 235, 235);
}

body {
  margin: 0;
}